
.header {
	position: fixed;
	display: inline-flex;
	align-items: center;
	background: white;
	opacity: 0.6;
	width: 98%;
	height: 100px;
	margin: 1% 1% 1% 1%;
	&__logo {
		img {
			width: 150px;
			height: 100px;
		}
		flex-grow: 1;
		margin: 20px;
	}

	&__nav {
		text-transform: uppercase;
		margin: 20px;

	}

	&__form {
		width: 200px;
		height: 70px;
		border-radius: 15%;
		color: white;
		background: blue;
		border: blue;
		margin: 20px;
	}
}
.mine {
	width: 100%;
	min-height: 1000px;
	background: url(../img/1.jpg);
}
.work {
}
.price {
}
.callus {
}
.lulz {
}
.coments {
}
.advantages {
}
.somenumbers {
}
.maps {
}
.footer {
}
