
   $font_style: 'Noto Sans', sans-serif;
   //  font-weight: bold; <=== жирность шрифта
  //   line-height: 1.5; <=== растояние между строками 
   $screen-max: 1170px;
   $screen-mid: 800px;
   $screen-min: 400px;

.header {
	font-family: $font_style;
	position: fixed;
	display: inline-flex;
	align-items: center;
	background: white;
	opacity: 0.6;
	width: 98%;
	height: 100px;
	margin: 1% 1% 1% 1%;
	transition: 0.5s;
	border-radius: 25px;
	z-index: 99;
	&:hover {
		opacity: 1;
		transition: 0.5s;
	}

	&__logo {
		img {
			width: 150px;
			height: 100px;
		}
		flex-grow: 1;
		margin: 20px;
	}

	&__nav {
		font-family: $font_style;
		text-transform: uppercase;
		margin: 20px;

	}

	&__form {
		width: 200px;
		height: 70px;
		border-radius: 50px;
		color: white;
		background: blue;
		border: blue;
		margin: 20px;
	}
}
.main {
	font-family: $font_style;
	
	width: 100%;
	min-height: 800px;
	background: url(../img/860641_fusionplus_1495870432.png);

	&__container {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		max-width: 60%;
		min-height: 800px;
		margin: 0 auto;
	}

	&__content {
		
		color: white;
		display: flex;
		flex-wrap: wrap;
		width: 50%;
		margin-top: 12%;
		font-size: 22px;
	}

	&__form {
		
		display: block;
		color: white;
		display: flex;
		flex-direction: column;
		background: #436791;
		padding: 40px;
		align-items: stretch;
		width: 50%;
		line-height: 40px;
		border-radius: 50px;

		& button {
			font-family: $font_style;
			margin: 30px;
			background: #0C2339;
			border: #0C2339;
			color: white;
			height: 30px;
			border-radius: 50px;
			align-items: center;
			opacity: 0.7;

			&:hover {
				opacity: 1;
				transition: 0.2s;
			}
		}
	}

	&__guys	{
		display: block;
		margin-left: 60%;
		margin-top: -45%;
		img {
			width: 100%;

		}
	}
}

.work {
	font-family: $font_style;

	width: 100%;
	min-height: 550px;

	&__container {
		max-width: 60%;
		display: flex;		
		margin: 0 auto;
		justify-content: center;
	
	}

	&__cards {
		min-width: 300px;
		width: 100%;
		margin: 15px;
		background: #005095;
		border-radius: 10px;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}
	&__content {
		color: white;
		line-height: 25px;
		align-items: flex-start;
			& h1 {
				font-size: 30px;
				min-height: 50px;
				padding: 15px;
			}

			& p {
				font-size: 15px;
				padding: 15px;
			}

			& img {
				max-width: 100%;
				min-width: 100%
			}
		}
}
.price {
	width: 100%;
	min-height: 1500px;

	&__container {
		max-width: 60%;
		min-height: 1500px;
		margin: 0 auto;
	}

	&__table {
		
		width: 100%;

		& img {
			float: left;
		}
	}

	&__table-alternative {

		width: 100%;

		& img {
			float: right;
		}
	}

	&__row {
		font-family: $font_style;
		display: flex;
    	align-items: center;
    	justify-content: space-between;
    	text-align: center;
    	width: 40%;
    	height: 100%;
    	padding: 10px;
    	line-height: 100%;
    	margin: 10px auto;
    	border: 1px solid #41ABF7;
    	border-radius: 20px;
    	font-size: 17px;
	}
}
.callus {
	font-family: $font_style;
	min-height: 100px;
	width: 100%;
	background: #41ABF7;

	&__container {
		max-width: 60%;
		margin: 0 auto;
	}
	&__main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		& h1 {
			width: 100%;
			text-align: center;
			color: white;
		}
		& button {
			width: 200px;
			height: 50px;
			background: white;
			color: black;
			transition: 0.5s;
			border-radius: 10px;
			border: none;
			&:hover {
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
				transition: 0.5s;
			}
		}
	}
}
.lulz {
	font-family: $font_style;
	min-height: 300px;
	width: 100%;
	background: url(../img/background_plumbing_01.jpg);
	display: flex;
	&__container {
		max-width: 60%;
		margin: 0 auto;
	}
	&__text {
		position: absolute;
		margin: 5%;
		width: 20%;
		display: flex;
		font-size: 35px;
	}
	&__items {
		display: flex;
		margin-left: 40%;
		flex-wrap: wrap;
		align-items: stretch;
		font-size: 15px;
	}
	
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 50%;
		& img {
			float: left;
			width: 60px;
			height: 60px;
		}
	}

	&__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		line-height: 25px;
		margin: 5px;
	}
}
.coments {
	font-family: $font_style;
	background-image: url(../img/background_03.jpg);
	&__text{
		line-height: 1.7;
		font-size: 20px;
		color: white;
		padding: 10px 0px;
		
	}
	&__autor{
		font-size: 14px;
		color: white;
		padding: 10px 0px;

	}
	&__counteiner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 90%;
		margin: 0 auto;
	}
	&__header {
		color: white;
		padding: 40px 0px;
		text-align: center;
		font-size: 69px;
		font-family: izi,  cursive;
		font-weight: bold;
	}
	&__style{
		color: #51acfb;
		
	}
	//============ КЛАССЫ СЛАЙДЕРА ============
	&__slider {
		overflow: hidden;
		min-width: 0;
		position: relative;
		
	}

	&__item {
		padding: 60px 30px;
		min-width: 0;
	}
	
	.slick-slider{
		padding: 20px;
	}
	.slick-track{
		display: flex;
	}
	.slick-list{
		overflow: hidden;
	}
	
	.slick-arrow{
		border-style: none;
		font-size: 0px;
		position: absolute;
		top: 50%;
		z-index: 10;
		background-color: rgba(255, 255, 255, 0);
		&.slick-prev{
			left: 0%;
		}
		&.slick-next{
			right:0%;
		}
		transition: .5s;
	}
	
	.slick-prev:active{
		transform: translateX(-10px);
		transition: .5s;
	}
	.slick-next:active{
		transform: translateX(10px);
		transition: .5s;
	}
	.slick-prev::before{
		color: rgba(255, 255, 255, 0.7);
		font-size: 70px;
		content: "< ";
	}
	
	.slick-next::after{
		color: rgba(255, 255, 255, 0.5);
		font-size: 70px;
		content: " >";
	}
}


.advant {

	&__counteiner {
		max-height: 740px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 70%;
		margin: 0 auto;

	}

	&__colomn {
		padding: 0px 30px;
		img{ 
			height: 740px;

		}
	}

	&__text {
		line-height: 1.5;
		font-family: $font_style;
		text-align: left;
		font-size: 16px;
	}

	&__style {
		
		display: block;
		padding: 15px 0px;
		font-size: 44px;
	}
	&__style2{
		color: #51acfb;
	}

	&__phone {
		font-family: $font_style;
		a{
			text-decoration: none;
			color: black;
		}
		padding: 20px 0px;
		font-size: 44px;
	}

	&__button {
		font-family: $font_style;
		padding: 22px;
		color: white;
		border-radius: 5px;
		background-color: red;
		border-style: none;
	}
}

.some {
	z-index: 10;
	background: url(../img/background_01.jpg) no-repeat;
	p{
		font-family: $font_style;
		padding: 5% 0px 5% 0px;
		margin:0px;
	}

		&__num {
			font-size: 48px;
		}

		&__header {
			text-align: center;
			font-size: 60px;
			color: white;
		}
		&__style {
			color: rgb(81, 172, 251);
		}

		&__coloms {
			font-family: $font_style;
			color: white;
			display: flex;
			max-width: 70%;
			margin: 0 auto;
			padding: 7% 0px 7% 0px;
		}

		&__colomn {
			padding: 0px 40px;
		}

		&__text {
		}
}
.maps {
	font-family: $font_style;
	display: flex;
	align-items: center;
	height: 600px;
	justify-content: center;
	font-size: 60px;
}

.footer {
	padding: 64px 0px 30px 0px;
	a{	
		font-family: $font_style;
		color: white;
		text-decoration: none;
	}
	
	background-color: rgb(15, 35, 58);
	&__counteiner{
		display: flex;
		justify-content: space-between;
		max-width: 60%;
		margin: 0 auto;
	}
	&__colomn {
		font-family: $font_style;
		padding: 0px 20px;
		display: block;
		
	}
	

	&__header {
		padding: 10px;
		margin-bottom: 10px;
		border-bottom: solid 3px white;
		font-size: 21px;
		color: white;
	}
	&__sup{
		margin: 10px 0px 0px 0px;
		color: rgb(224, 224, 224);
	}
	&__input{
		height: 24px;
		border-style: none;
		border-radius: 5px;
		margin: 0px 0px 10px 0px;
	}
	&__contact {
		color: white;
		font-size: 16px;
		padding: 10px 0px 0px 0px;
	}
	&__button{
		margin-top: 25%;
		padding: 22px;
		color: white;
		border-radius: 5px;
		background-color: red;
		border-style: none;
	}
	&__tel2 {
		font-size: 24px;
	}
}

.whiteColomn{
	padding: 0px 20px 20px;
	border-radius: 15px;
	background-color: rgb(67, 103, 145) ;
}
