.header {
  position: fixed;
  display: inline-flex;
  align-items: center;
  background: white;
  opacity: 0.6;
  width: 98%;
  height: 100px;
  margin: 1% 1% 1% 1%;
  transition: 0.5s;
  border-radius: 25px;
}
.header:hover {
  opacity: 1;
  transition: 0.5s;
}
.header__logo {
  flex-grow: 1;
  margin: 20px;
}
.header__logo img {
  width: 150px;
  height: 100px;
}
.header__nav {
  text-transform: uppercase;
  margin: 20px;
}
.header__form {
  width: 200px;
  height: 70px;
  border-radius: 50px;
  color: white;
  background: blue;
  border: blue;
  margin: 20px;
}

.main {
  width: 100%;
  min-height: 800px;
  background: url(../img/2.jpg);
}
.main__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 60%;
  min-height: 800px;
  margin: 0 auto;
}
.main__content {
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-top: 12%;
  font-size: 22px;
}
.main__form {
  display: block;
  color: white;
  display: flex;
  flex-direction: column;
  background: #436791;
  padding: 40px;
  align-items: stretch;
  width: 50%;
  line-height: 40px;
  border-radius: 50px;
}
.main__form button {
  margin: 30px;
  background: #0C2339;
  border: #0C2339;
  color: white;
  height: 30px;
  border-radius: 50px;
  align-items: center;
  opacity: 0.7;
}
.main__form button:hover {
  opacity: 1;
  transition: 0.2s;
}
.main__guys {
  display: block;
  margin-left: 60%;
  margin-top: -45%;
}
.main__guys img {
  width: 100%;
}

.work__container {
  max-width: 60%;
  display: flex;
  margin: 0 auto;
}
.work__cards {
  width: 40%;
  margin: 15px;
  background: #005095;
  padding: 15px;
  border-radius: 10px;
}
.work__content {
  color: white;
  line-height: 25px;
  align-items: flex-start;
}
.work__content h1 {
  font-size: 30px;
  min-height: 50px;
}
.work__content p {
  font-size: 15px;
}
.work__content img {
  max-width: 100%;
}

.advant__counteiner {
  max-height: 740px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
}
.advant__colomn {
  padding: 0px 30px;
}
.advant__colomn img {
  height: 740px;
}
.advant__text {
  text-align: left;
  font-size: 16px;
}
.advant__style {
  display: block;
  padding: 15px 0px;
  font-size: 44px;
}
.advant__style2 {
  color: #51acfb;
}
.advant__phone {
  padding: 20px 0px;
  font-size: 44px;
}
.advant__phone a {
  text-decoration: none;
  color: black;
}
.advant__button {
  padding: 22px;
  color: white;
  border-radius: 5px;
  background-color: red;
  border-style: none;
}

.some {
  z-index: 10;
  background: url(/LeraVilar.io/img/1.jpg) no-repeat;
}
.some p {
  padding: 5% 0px 5% 0px;
  margin: 0px;
}
.some__num {
  font-size: 48px;
}
.some__header {
  text-align: center;
  font-size: 60px;
  color: white;
}
.some__style {
  color: #51acfb;
}
.some__coloms {
  color: white;
  display: flex;
  max-width: 70%;
  margin: 0 auto;
  padding: 7% 0px 7% 0px;
}
.some__colomn {
  padding: 0px 40px;
}
.maps {
  display: flex;
  align-items: center;
  height: 600px;
  justify-content: center;
  font-size: 60px;
}

.footer {
  padding: 64px 0px 30px 0px;
  background-color: #0f233a;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer__counteiner {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  margin: 0 auto;
}
.footer__colomn {
  padding: 0px 20px;
  display: block;
}
.footer__header {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: solid 3px white;
  font-size: 21px;
  color: white;
}
.footer__sup {
  margin: 10px 0px 0px 0px;
  color: #e0e0e0;
}
.footer__input {
  height: 24px;
  border-style: none;
  border-radius: 5px;
  margin: 0px 0px 10px 0px;
}
.footer__contact {
  color: white;
  font-size: 16px;
  padding: 10px 0px 0px 0px;
}
.footer__button {
  margin-top: 25%;
  padding: 22px;
  color: white;
  border-radius: 5px;
  background-color: red;
  border-style: none;
}
.footer__tel2 {
  font-size: 24px;
}

.whiteColomn {
  padding: 0px 20px 20px;
  border-radius: 15px;
  background-color: #436791;
}