.header {

    &__logo {
    }
}
.mine {
}
.why {
}
.lulz {
}
.wecan {
}
.prise {
}
.comments {
}
.footer {
    min-height: 118px;
    min-width: 100%;
    background-color: #474747;

    &__counteiner {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        margin: 13px 40px 0px 50px;
    }

    &__org {
        color: white;
        margin-right: 330px;
        p{
            margin:0px 0px 3px 0px;
        }
    }

    &__contacts {
        margin-top: 14px;
        display: flex;

    }

    &__contact {
        margin: 5px;
        img{
            height: 60px;
        }
    }
    &__vk{
        img{
            height: 72px;
            margin-top: -5px;
            margin-left: -4px;
        }

    }
    &__num{
        margin-left: 40px;
        margin-right: 20px;
    }
    &__phone {
        text-align: right;
        color: white;
        font-size: 30px;
    }

    &__mail {
        text-align: right;
        color: white;
        font-size: 12px;
    }
}
