body{
    box-sizing: border-box;
}


.header {
    display: flex;
    background: #474747;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    &__logo {
        width: 130px;
        height: 90px;
        padding: 13px 60px;
    }
    &__nav {
        display: flex;
        flex-direction: row;
        margin-left: -40%;
    }
    &__item {
        margin: 65px 75px;
        font-size: 25px;
    }
    &__callback {
        display: flex;

        flex-wrap: wrap;
        width: 300px;
    }
    &__tel {
        font-size: 38px;
        text-decoration: none;
    }
    &__call {

    }
}

.main {
}
.why {
}
.lulz {
}
.wecan {
}
.price {
    min-height: 850px;
}
.comments {
    min-height: 720px;

    &__counteiner {
    }

    &__header {
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.comItem {
    
    min-width: 575px;
    min-height: 230px;

    &__header {
    }

    &__content {
    }
}

.footer {
    min-height: 118px;
    min-width: 100%;
    background-color: #474747;

    &__counteiner {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        margin: 13px 40px 0px 50px;
    }

    &__org {
        color: white;
        margin-right: 330px;
        p{
            margin:0px 0px 3px 0px;
        }
    }

    &__contacts {
        margin-top: 14px;
        display: flex;

    }

    &__contact {
        margin: 5px;
        img{
            height: 60px;
        }
    }
    &__vk{
        img{
            height: 72px;
            margin-top: -5px;
            margin-left: -4px;
        }

    }
    &__num{
        margin-left: 40px;
        margin-right: 20px;
    }
    &__phone {
        text-align: right;
        color: white;
        font-size: 30px;
    }

    &__mail {
        text-align: right;
        color: white;
        font-size: 12px;
    }
}
