body {
  box-sizing: border-box;
}

.header {
  display: flex;
  background: #474747;
  justify-content: space-between;
  height: 120px;
  width: 100%;
}
.header__logo {
  width: 130px;
  height: 90px;
  padding: 13px 60px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  margin-left: -40%;
}
.header__item {
  margin: 65px 75px;
  font-size: 25px;
}
.header__callback {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
.header__tel {
  font-size: 38px;
  text-decoration: none;
}
.price {
  min-height: 850px;
}

.comments {
  min-height: 720px;
}
.comments__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.comItem {
  min-width: 575px;
  min-height: 230px;
}
.footer {
  min-height: 118px;
  min-width: 100%;
  background-color: #474747;
}
.footer__counteiner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  margin: 13px 40px 0px 50px;
}
.footer__org {
  color: white;
  margin-right: 330px;
}
.footer__org p {
  margin: 0px 0px 3px 0px;
}
.footer__contacts {
  margin-top: 14px;
  display: flex;
}
.footer__contact {
  margin: 5px;
}
.footer__contact img {
  height: 60px;
}
.footer__vk img {
  height: 72px;
  margin-top: -5px;
  margin-left: -4px;
}
.footer__num {
  margin-left: 40px;
  margin-right: 20px;
}
.footer__phone {
  text-align: right;
  color: white;
  font-size: 30px;
}
.footer__mail {
  text-align: right;
  color: white;
  font-size: 12px;
}